/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

body{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
}

.form{
  margin: 38px auto;
  display: flex;
  gap: 8px;
}

input[type="text"]{
  width: 272px;
  height: 23px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 12px;
}

input[type="text"]::placeholder{
  color: #808080;
}

input[type="text"]:hover{
  border: 1px solid #000;
}

input[type="text"]:active{
  border: 1px solid #4E75FF;
  color: #2E2F42;
}

button[type="submit"]{
  border-radius: 8px;
  padding-block: 8px;
  padding-inline: 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  color: #ffffff;
  border: none;
}

button[type="submit"]:hover{
  background-color: #6c8cff;
}
