/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

body{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
}

.form{
  margin: 38px auto;
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
}

input[type="text"]{
  width: 272px;
  height: 23px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 12px;
}

input[type="text"]::placeholder{
  color: #808080;
}

input[type="text"]:hover{
  border: 1px solid #000;
}

input[type="text"]:active{
  border: 1px solid #4E75FF;
  color: #2E2F42;
}

button[type="submit"]{
  border-radius: 8px;
  padding-block: 8px;
  padding-inline: 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  color: #ffffff;
  border: none;
}

button[type="submit"]:hover{
  background-color: #6c8cff;
}

.loader {
  margin: 0 auto;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        position: relative;
        animation: rotate 1s linear infinite
      }
      .loader::before , .loader::after {
        content: "";
        box-sizing: border-box;
        position: absolute;
        inset: 0px;
        border-radius: 50%;
        border: 5px solid #FFF;
        animation: prixClipFix 2s linear infinite ;
      }
      .loader::after{
        border-color: #6c8cff;
        animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
        inset: 6px;
      }

      @keyframes rotate {
        0%   {transform: rotate(0deg)}
        100%   {transform: rotate(360deg)}
      }

      @keyframes prixClipFix {
          0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
          25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
          50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
          75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
          100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
      }
      .gallery{
        max-width: 1150px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 20px;
    row-gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    flex-direction: row;
}
.gallery-item{
    position: relative;
    overflow: hidden;
    width: 360px;
    height: 200px;
}
.gallery-item img{
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}
.gallery-item:hover img{
    transform: scale(1.05);
}
.visibility{
  display: none;
}
.info{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #f0f0f0;
    gap: 24px;

}
.info_item{
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 7px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

}

    